# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
db.sqlite3
media/

# Node / Web
node_modules/
dist/
.env

# Android
.gradle/
build/
local.properties
.idea/
*.iml
*.keystore
!debug.keystore

# System
.DS_Store
Thumbs.db
